@page
@model chat.Pages.DialogModel
<div class="text-center">
    <h2 class="display-4">Chat with @Model.AddresseeTag</h2>
    @{
        if(Model.messages is not null)
            foreach (var message in Model.messages)
            {
                string messageClass = Model.GetMessageClass(message);
                <div class=@messageClass>
                    @{
                        if(messageClass == "myMessage")
                        {
                            <form method="post">
                                @message.Content
                                <button class="btn btn-primary" value=@message.Id asp-page-handler="DeleteMessage">&#xf1f8</button>
                                <input type="hidden" name="messageId" value="@message.Id" />
                            </form>
                        }
                        else
                        {
                            @message.Content
                        }
                    }
                </div>
            }
    }
    <form method="post">
        <input type="text", asp-for="NewMessageContent">
	    <button class="btn btn-primary">Send</button>
	    <p>Your Tag: @Model.userLoginned?.Tag</p>
        <button asp-page-handler="Back">Back</button>
    </form>
</div>